<div class="base">
    <div class="inputs">
        
        <form class="example-form">
            <label class="text">REGISTRARSE</label>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" placeholder="Usuario">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}" placeholder="Contraseña"></textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button class="flat-button" color="warn" (click)="Volver()">VOLVER</button>
    <button mat-flat-button class="flat-button" color="primary" (click)="Registrarse()">REGISTRARSE</button>
    <button mat-flat-button class="flat-button" color="primary" (click)="Prueba()">PRUEBA</button>
    
    
    </form>

    </div>
</div>